$color-dark: #233d4d;
$color-dark120: #1c313e;
$color-dark110: #203745;
$color-light: #f5fbe6;
$color-accent: #fe7f2d;
body,
html {
	padding: 0;
	margin: 0;
}
body,
.main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
#root {
	background-color: #233d4d;
	min-height: 100vh;
}

.ui-wrap {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	&-inner {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 60px;
	}
}

.header {
	padding: 20px;
}

.text-styles {
	height: 70px;
	background: $color-dark120;
	overflow-x: auto;
	overflow-y: hidden;
	margin-top: auto;
}
.steps {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 40px 20px;
}
.step {
	text-align: center;
	&-text-1 {
		font-size: 38px;
		font-family:
			"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
		font-weight: 100;
		line-height: 28px;
		color: $color-light;
	}
	&-text-2 {
		font-size: 50px;
		font-family:
			"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: $color-accent;
	}
}
.camera-wrap {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	margin-bottom: 40px;
}
.btn-camera {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-accent;
	svg {
		width: 60px;
	}
}
.text-tap-here {
	font-size: 32px;
	font-family:
		"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: 100;
	color: $color-light;
	letter-spacing: 16px;
}
.input-file {
	height: 0;
	width: 0;
	visibility: hidden;
}
